name: CMake CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup vcpkg
      uses: friendlyanon/setup-vcpkg@v1
      with:
        committish: "2025-10-01"  # or a specific commit/tag from vcpkg repo
        cache: true

    - name: Install dependencies
      run: $VCPKG_ROOT/vcpkg install

    - name: Configure CMake
      run: |
        cmake -S . -B build \
          -DCMAKE_TOOLCHAIN_FILE=$VCPKG_ROOT/scripts/buildsystems/vcpkg.cmake \
          -DCMAKE_BUILD_TYPE=Release

    - name: Build
      run: cmake --build build --config Release